.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    color: #8f413c;
    margin: 3rem 0;
}

.subtitle {
    color: #ECDFCC;
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;

}

.what-uad {
    margin: 8rem 0;
    text-align: center;
}

.download {
    background-color: #4e425c;
    border: none;
}

.github {
    border: 1px solid #44444E;
}

.why-uad {
    display: flex;
    flex-direction: column;
}

.why-uad h3 {
    margin: 3rem auto;
}
.reason-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 2rem;
    place-items: center;
}
.reason {
    display: grid;
    place-items: center;
    transition: all 0.3s ease;
    grid-template-areas: 
    "img"
    "title"
    "text";
    padding: 1rem 0;
    overflow: hidden;
    min-height: 25rem;
    background-color: #2e2d34;
    border-radius: 1.5rem;
}

.reason p {
    text-align: center;
}

.questions {
    margin: 8rem 0;
    text-align: center;
}
