html {
    background-color: #1E201E;
    color: #F5F5F0;
}

body {
    max-width: 80%;
    margin: 0 auto;
}

.header-list {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 3rem;
}

.header-list li {
    padding: 1rem; 
}

.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    color: #697565;
    margin: 3rem 0;
}

.subtitle {
    color: #ECDFCC;
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;

}
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2.4rem;
    border: 2px solid;
    border-radius: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.3s ease;
    gap: 0.8rem;
    margin: 6rem 4rem;
}
.button:hover {
    text-decoration: none;
    transform: translateY(-0.25rem);
}

.download {
    color: #697565;
}

.github {
    color: #ECDFCC;
}

.reason-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 2rem;
    place-items: center;
}
.reason {
    display: grid;
    place-items: center;
    transition: all 0.3s ease;
    grid-template-areas: 
    "img"
    "title"
    "text";
    padding: 1rem 0;
    overflow: hidden;
    min-height: 25rem;
    border: 2px solid;
    border-radius: 3%;
}

.reason p {
    text-align: center;
}
